/* слайдеры для диапазона цен */
.price-slider {
    display: grid;
    max-height: 40px;
    overflow: hidden;
  }
  
  span.price-slider-end, span.price-slider-start {
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  span.price-slider-start {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 10px;
    text-align: center;
  }
  
  span.price-slider-end {
    position: relative;
    display: inline-block;
    margin: 0 0 0 0px;
    width: 50px;
    height: 10px;
    text-align: center;
  }
  
  .price-slider input {
    grid-row: 1;
    grid-column: 1;
    margin: 0 0 0 20px;
    width: 200px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 30;
  }
  
  input.price-slider-start::-moz-range-track {
    opacity: 0;
  }
  
  input.price-slider-end::-moz-range-track {
    opacity: 0;
  }
  
  .price-slider input::-moz-range-thumb {
    pointer-events: auto;
    appearance: none;
    background-color: black;
    border: 2px solid white;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  .price-slider input[type=range], 
  .price-slider input[type=range]::-webkit-slider-thumb,
  .price-slider input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
  }
  
  input[type=range].price-slider-start::-webkit-slider-runnable-track {
    background-color: rgba(0, 0, 0, 0);
    height: 3px;
  }
  
  input[type=range].price-slider-end::-webkit-slider-runnable-track 
  {
    background-color: rbga(0, 0, 0, 0);
    height: 3px;
  }
  
  .price-slider input[type=range]::-webkit-slider-thumb {
    position: relative;
    top: -8px; 
    pointer-events: auto;
    background-color: black;
    border: 2px solid white;
    border-radius: 100%;
    box-shadow: none; /* убираем тень на iOS */
    width: 19px; /* 15px + 2 * 2px */
    height: 19px;
    cursor: pointer;
  }
  
  span.price-range {
    position: relative;
    top: 8px;
    left: 30px;
    grid-column: 1;
    grid-row: 1;
    height: 4px;
    background-color: black;
    z-index: 20;
  }
  
  span.price-slider-background {
    position: relative;
    top: 8px;
    left: 30px;
    grid-column: 1;
    grid-row: 1;
    width: 190px;
    height: 4px;
    z-index: 10;
    background: #e8e8e8;
    border-radius: 2px;
  }