/* Список доступных размеров */
.size-list input {
  display: none;
}

.size-list span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px;
  background-color: #f8f8f8;
  border-color: #e8e8e8;
  font-weight: normal;
  font-size: 0.75rem;
}

.size-list input:checked + span {
  background-color: white;
  border-color: #e8e8e8;
  border-width: 3px;
  margin: 3px;
  font-weight: bolder;
}

.size-list li {
  display: inline-flex;
  list-style-type: none;
}

ul.size-list {
  padding-left: 0px;
}

/* Список доступных категорий товаров */
ul.category-list {
  padding-left: 0px;
}

.category-list li {
  list-style-type: none;
}

.category-list input {
  vertical-align: -0.5em;
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-color: #e8e8e8;
  border-width: 2px;
  border-style: solid;
  border-radius: 7px;
}

.category-list input:checked {
  background-color: black;
  border-color: black;
  border-width: 0rem;
}

.category-list input:checked::after {
  top: 6px;
  left: 6px;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  content: "";
  position: relative;
  display: block;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.left-part {
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
}

.right-part {
  width: 250px;
  flex-grow: 1;
  flex-shrink: 0;
}

.app {
  border-radius: 1rem;
  margin: 2rem;
  background-color: #fff;
  padding: 2rem;
}

.main-part {
  min-height: calc(85vh - 3rem);
}

.footer {
  min-height: 5vh;
}

.website-logo h1 {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

.border-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

footer {
  color: #555;
  font-size: 0.75rem;
}

ul.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12rem);
  column-gap: 1rem;
  padding-left: 0px;
}

.product-list li {
  list-style-type: none;
}

.flexbox-centering {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading {
  min-height: calc(100vh - 8rem);
}

@media (max-width: 35rem) 
{
  .app {
    padding: 2rem;
    margin: 0;
    border-radius: 0;
  }

  ul.product-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
