/* Список доступных размеров */
.size-list input {
  display: none;
}

.size-list span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px;
  background-color: #f8f8f8;
  border-color: #e8e8e8;
  font-weight: normal;
  font-size: 0.75rem;
}

.size-list input:checked + span {
  background-color: white;
  border-color: #e8e8e8;
  border-width: 3px;
  margin: 3px;
  font-weight: bolder;
}

.size-list li {
  display: inline-flex;
  list-style-type: none;
}

ul.size-list {
  padding-left: 0px;
}

/* Список доступных категорий товаров */
ul.category-list {
  padding-left: 0px;
}

.category-list li {
  list-style-type: none;
}

.category-list input {
  vertical-align: -0.5em;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  border-color: #e8e8e8;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 0.5rem;
}

.category-list input:checked {
  background-color: black;
  border-color: black;
  border-width: 0rem;
}

.category-list input:checked::after {
  top: 0.475em;
  left: 0.375rem;
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  content: "";
  position: relative;
  display: block;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.left-part {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

.right-part {
  width: 300px;
  flex-grow: 1;
  flex-shrink: 0;
}

.app {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 90vw;
  background-color: #fff;
  padding: 2rem;
}

.website-logo h1 {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

.border-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

footer {
  color: #555;
  font-size: 0.75rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
