.product {
  width: 12rem;
  margin: 0rem 0rem 3rem 0rem;
}

.product p {
  margin: 0 0 0 1rem;
}

.product-name {
  font-size: 0.9rem;
  font-weight: bold;
}

p.product-brand {
  font-size: 0.75rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.product-price {
  color: #777;
  font-size: 0.75rem;
}

.product-price-value {
  margin-top: 0;
  font-weight: bold;
  font-size: 1rem;
}

.photo-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  height: 12rem;
  width: 12rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 35rem) 
{
  .photo-background {
    --size: calc((100vw - 6rem) / 2);
    width: var(--size);
    height: var(--size);
    max-width: 12rem;
    max-height: 12rem;
  }

  .product {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .product p {
    margin: 0;
  }
}